In [3]:
### Installs

In [4]:
pip install openpyxl

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Looking in indexes: https://pypi.org/simple, https://readonly:****@pypi.revolutlabs.com/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.9/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.9/site-packages (from openpyxl) (1.1.0)
WARNING: You are using pip version 21.3.1; however, version 23.0.1 is available.
You should consider upgrading via the '/usr/local/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install loguru

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Looking in indexes: https://pypi.org/simple, https://readonly:****@pypi.revolutlabs.com/simple/
Requirement already satisfied: loguru in /usr/local/lib/python3.9/site-packages (0.6.0)
WARNING: You are using pip version 21.3.1; however, version 23.0.1 is available.
You should consider upgrading via the '/usr/local/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install gql

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Looking in indexes: https://pypi.org/simple, https://readonly:****@pypi.revolutlabs.com/simple/
Requirement already satisfied: gql in /usr/local/lib/python3.9/site-packages (3.4.0)
Requirement already satisfied: backoff<3.0,>=1.11.1 in /usr/local/lib/python3.9/site-packages (from gql) (2.2.1)
Requirement already satisfied: graphql-core<3.3,>=3.2 in /usr/local/lib/python3.9/site-packages (from gql) (3.2.3)
Requirement already satisfied: yarl<2.0,>=1.6 in /usr/local/lib/python3.9/site-packages (from gql) (1.8.2)
Requirement already satisfied: multidict>=4.0 in /usr/local/lib/python3.9/site-packages (from yarl<2.0,>=1.6->gql) (6.0.4)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.9/site-packages (from yarl<2.0,>=1.6->gql) (3.3)
WARNING: You are using pip version 21.3.1; however, version 23.0.1 is available.
You should consider upgrading via the '/usr/local/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install nested_lookup

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Looking in indexes: https://pypi.org/simple, https://readonly:****@pypi.revolutlabs.com/simple/
Requirement already satisfied: nested_lookup in /usr/local/lib/python3.9/site-packages (0.2.25)
Requirement already satisfied: six in /usr/local/lib/python3.9/site-packages (from nested_lookup) (1.16.0)
WARNING: You are using pip version 21.3.1; however, version 23.0.1 is available.
You should consider upgrading via the '/usr/local/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install requests_toolbelt

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Looking in indexes: https://pypi.org/simple, https://readonly:****@pypi.revolutlabs.com/simple/
Requirement already satisfied: requests_toolbelt in /usr/local/lib/python3.9/site-packages (0.10.1)
Requirement already satisfied: requests<3.0.0,>=2.0.1 in /usr/local/lib/python3.9/site-packages (from requests_toolbelt) (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/site-packages (from requests<3.0.0,>=2.0.1->requests_toolbelt) (2.0.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/site-packages (from requests<3.0.0,>=2.0.1->requests_toolbelt) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/site-packages (from requests<3.0.0,>=2.0.1->requests_toolbelt) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/site-packages (from requests<3.0.0,>=2.0.1->requests_toolbelt) (3.3)
WARNING: You are using pip version 21.3.1; however, version 23.0.1 is available.
You should consider upgrading via the '/usr/local/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

# Imports

In [14]:
import pandas as pd
import geopandas as gpd
import numpy as np
from geopandas.tools import sjoin
from shapely.geometry import Point, MultiPolygon, Polygon
%matplotlib inline
import time
import folium
from operator import index
import json
import datetime
from loguru import logger
from gql import gql
from nested_lookup import nested_lookup
from gql import Client
from gql.transport.requests import RequestsHTTPTransport
from requests import exceptions
from collections.abc import MutableMapping

# Import Local modules

In [15]:
import paging, helpers

# Chalutiers pelagiques file

In [16]:
df_chalutiers_pelagiques = pd.read_excel('chalutiers_pelagiques.xlsx')

In [17]:
df_chalutiers_pelagiques[df_chalutiers_pelagiques['IMO'] ==8224406]

               Nom  Marquage  Taille Pays      IMO
16  Prins Bernhard  FC716900   88.14   FR  8224406

In [18]:
df_chalutiers_pelagiques['IMO'].unique()

array([  9175834, 244309000,   9204556,   8028412, 244070881,   8707537,
         8209171,   9074951,   8716928,   9126364,   8707446,   9182801,
         8301187,   9690688,   8918318,   8707745,   8224406,   9828936,
         9187306,   9249556,   9249568,   8901913])

In [19]:
df_chalutiers_pelagiques

,Nom,Marquage,Taille,Pays,IMO
0,Afrika,SCH 24,126.00,NL,9175834
1,Alida,SCH 6,100.00,NL,244309000
2,Annelies Ilena,KW174,144.60,PL,9204556
3,Annie Hillina,ROS170,86.33,DE,8028412
4,Carolien,SCH 81,126.22,NL,244070881
5,Cornelis Vrolijk,H 171,113.97,Namibie (ancien UK jusqu'en décembre 2022),8707537
6,Dirk Dirk,KW172,95.00,NL,8209171
7,Frank Bonefaas,H 72,119.00,UK,9074951
8,GERDA MARIA,ROS786,81.32,P&P,8716928
9,Helen Mary,ROS785,116.70,DE,9126364
10,Tsaritsa,UBFR7,125.53,Russie,8707446
11,Maartje Theadora,ROS171,140.80,DE,9182801
12,Margiris,KL855,136.12,LIT,8301187
13,Mark,ROS777,85.00,DE,9690688
14,Naeraberg,KG14,93.40,Iles Féroé,8918318
15,Nida,KL759,62.00,LIT,8707745
16,Prins Bernhard,FC716900,88.14,FR,8224406
17,Scombrus,CC 919999,NaN,FR,9828936
18,W. van der Zwan,SCH 302,142.50,NL,9187306
19,Wiron 5,PH 1100,55.60,UK,9249556
20,Wiron 6,PH 2200,55.60,UK,9249568
21,Zeeland,SCH 123,113.97,NL,8901913

# Functions

In [21]:
def read_query_file(settings: dict):
    file_name = settings['name_of_gql_query_file']
    with open(file_name, 'r') as f:
        return f.read()

In [22]:
def loadDataframe(data: dict):
    """Converts response from API call as dict to pandas dataframe ensuring all columns are listed
    :returns df: dataframe with rows from processed data
    :rtype df: pd.DataFrame
    """
     # get dict nodes
    nodes: list = nested_lookup('nodes', data)
    df = pd.DataFrame()
    for node_list in nodes:
        for node in node_list:

            flat: dict = helpers.flatten(node)            
            # BUG FOR FIELDS PARENTS WITH EMPTY VALUES (EX: Characteristics : Null). TEST WITH VARIOUS QUERIES
            csv_columns = helpers.get_all_keys(flat)
            df_node = pd.DataFrame(flat, columns=csv_columns, index=[0])
            if len(df) > 0:
                df = pd.concat([df, df_node], axis=0, ignore_index=True)
            else:
                df = df_node
    return df

In [23]:
def write_raw(data: dict, settings: dict):
    name_of_raw_output_file = settings['name_of_raw_output_file']
    if not name_of_raw_output_file:
        return
    with open(name_of_raw_output_file, 'a+') as f:
        f.write(json.dumps(data, indent=4))

# Settings for the API

### Note:
- our token only gives access to instant data of ship MMSI 227302000 (PRINS BERNHARD)
- we only have access to new instant data so we have to consititute a historical table ourselves

In [24]:
settings = {
    "endpoint": 'https://api.spire.com/graphql', 
    "token": 'U2hWhOiuDfAiVo8g07IIkMdzrDZtPGps', #OUR TOKEN GIVE ACCESS TO ONLY 1 SHIP
    "name_of_gql_query_file": 'sample_vessels.txt',
    "name_of_raw_output_file": 'raw.log', # if set to "" no file will be produced
    "name_of_csv_file": 'parsed_20230327.csv',     # if set to "" no file will be produced --> choose the name of the file into which you'd like to dump data
    "pages_to_process": 0,                # if 0, then all pages.  Otherwise this is used to limit the pages processed
}

# GET INSTANT API DATA:
### We only have access to instant data (Spire Maritime 2.0 GraphQL API), and not historical data

In [25]:
def run(settings: dict) -> pd.DataFrame:
    pages_processed: int = 0

    # make a client connection
    client = helpers.get_gql_client(settings=settings)

    # read file
    query = read_query_file(settings)
    if not "pageInfo" or not "endCursor" or not "hasNextPage" in query:
        logger.error("Please include pageInfo in the query, it is required for paging.  See the README.md")
        return
    response: dict = dict()
    try:
        response = client.execute(gql(query))
    except BaseException as e:
        logger.error(e)
        raise
        
    if response:
        # initialize paging
        pg = paging.Paging(response=response)
        # schema_members = helpers.get_vessels_v2_members()

        # page, write, util complete
        logger.info("Paging started")
        hasNextPage: bool = False
        df_output = pd.DataFrame()
        df_output = pd.concat([df_output,loadDataframe(response)], axis=0, ignore_index=True)
        
        
        while True:
            response, hasNextPage = pg.page_and_get_response(client, query)
            if response:
                write_raw(response,settings)
                pages_processed += 1
                #logger.info(get_info())
                if settings['name_of_csv_file']:
                    df_output = pd.concat([df_output,loadDataframe(response)], axis=0, ignore_index=True)

                    if not hasNextPage:
                        if settings['name_of_csv_file']:
                            df_output.to_csv(settings['name_of_csv_file'], index= False)
                        break
                    elif pages_to_process and pages_processed >= pages_to_process:
                        if settings['name_of_csv_file']:
                            df_output.to_csv(settings['name_of_csv_file'], index= False)
                        break
            
            else:
                logger.info(
                    "Did not get data for csv, either because there are no more pages, or did not get a response")
                break
        return df_output
    else:
        logger.error('No response from the service')

In [26]:
df_output = run(settings)

2023-03-30 17:28:12.739 | INFO     | __main__:run:25 - Paging started

In [27]:
df_output

Empty DataFrame
Columns: []
Index: []

# Example of what I had extracted

In [30]:
df_old_extract = pd.read_csv('parsed.csv')

In [31]:
df_old_extract

,id,updateTimestamp,staticData.aisClass,staticData.flag,staticData.name,staticData.callsign,staticData.timestamp,staticData.updateTimestamp,staticData.shipType,staticData.shipSubType,...,lastPositionUpdate.maneuver,lastPositionUpdate.navigationalStatus,lastPositionUpdate.speed,lastPositionUpdate.timestamp,lastPositionUpdate.updateTimestamp,currentVoyage.destination,currentVoyage.draught,currentVoyage.eta,currentVoyage.timestamp,currentVoyage.updateTimestamp
0,da3d9e97-4321-3118-a1d8-2d2ed1b01b6f,2023-03-20T10:58:08.455Z,A,FR,PRINS BERNHARD,FKHH,2023-03-19T09:09:14.000Z,2023-03-19T09:10:40.823Z,FISHING,FISHING,...,NOT_AVAILABLE,UNDER_WAY_USING_ENGINE,4.2,2023-03-20T08:18:54.000Z,2023-03-20T10:58:08.455Z,FISHING GROUNDS,6.2,2023-03-18T08:30:00.000Z,2023-03-19T09:09:14.000Z,2023-03-19T09:10:40.823Z
1,da3d9e97-4321-3118-a1d8-2d2ed1b01b6f,2023-03-20T10:58:08.455Z,A,FR,PRINS BERNHARD,FKHH,2023-03-19T09:09:14.000Z,2023-03-19T09:10:40.823Z,FISHING,FISHING,...,NOT_AVAILABLE,UNDER_WAY_USING_ENGINE,4.2,2023-03-20T08:18:54.000Z,2023-03-20T10:58:08.455Z,FISHING GROUNDS,6.2,2023-03-18T08:30:00.000Z,2023-03-19T09:09:14.000Z,2023-03-19T09:10:40.823Z

In [32]:
df_old_extract.columns

Index(['id', 'updateTimestamp', 'staticData.aisClass', 'staticData.flag',
       'staticData.name', 'staticData.callsign', 'staticData.timestamp',
       'staticData.updateTimestamp', 'staticData.shipType',
       'staticData.shipSubType', 'staticData.mmsi', 'staticData.imo',
       'staticData.dimensions.a', 'staticData.dimensions.b',
       'staticData.dimensions.c', 'staticData.dimensions.d',
       'staticData.dimensions.width', 'staticData.dimensions.length',
       'lastPositionUpdate.accuracy', 'lastPositionUpdate.collectionType',
       'lastPositionUpdate.course', 'lastPositionUpdate.heading',
       'lastPositionUpdate.latitude', 'lastPositionUpdate.longitude',
       'lastPositionUpdate.maneuver', 'lastPositionUpdate.navigationalStatus',
       'lastPositionUpdate.speed', 'lastPositionUpdate.timestamp',
       'lastPositionUpdate.updateTimestamp', 'currentVoyage.destination',
       'currentVoyage.draught', 'currentVoyage.eta', 'currentVoyage.timestamp',
       'currentVoyage.updateTimestamp'],
      dtype='object')

In [34]:
df_old_extract['lastPositionUpdate.maneuver']

0    NOT_AVAILABLE
1    NOT_AVAILABLE
Name: lastPositionUpdate.maneuver, dtype: object

In [35]:
df_old_extract['lastPositionUpdate.speed']

0    4.2
1    4.2
Name: lastPositionUpdate.speed, dtype: float64

In [36]:
df_old_extract['lastPositionUpdate.navigationalStatus']

0    UNDER_WAY_USING_ENGINE
1    UNDER_WAY_USING_ENGINE
Name: lastPositionUpdate.navigationalStatus, dtype: object

In [37]:
df_old_extract['lastPositionUpdate.heading']

0    318.0
1    318.0
Name: lastPositionUpdate.heading, dtype: float64

In [38]:
df_old_extract['lastPositionUpdate.course']

0    329.5
1    329.5
Name: lastPositionUpdate.course, dtype: float64

In [40]:
df_old_extract['currentVoyage.destination']

0    FISHING GROUNDS
1    FISHING GROUNDS
Name: currentVoyage.destination, dtype: object